<app-nav-bar
  [userImg]="userPhoto"
  [logged]="isLogged"
/>

<h3>{{ roomData.nom_habita }}</h3>
<p>{{ roomData.cant_usua }}</p>
<p>{{ roomData.desc_habita }}</p>
<p>{{ roomData.precio }}</p>
<p>Servicios:</p>
@for (item of roomData.serv_habita; track $index) {
<p>{{ item }}</p>
}

<form
  [formGroup]="reservaForm"
  (ngSubmit)="onSubmit()"
>
  <label>
    Fecha inicial
    <input
      type="date"
      placeholder=" "
      formControlName="fec_inicio"
      name="fec_inicio"
    />
  </label>

  <label>
    Fecha inicial
    <input
      type="date"
      placeholder=" "
      formControlName="fec_final"
      name="fec_final"
    />
  </label>

  <button
    type="submit"
    [disabled]="!reservaForm.valid"
  >
    Reservar
  </button>
</form>

<a [routerLink]="['/']">Ir al inicio</a>
