* {
  padding: 0;
  box-sizing: border-box;
}

.conta {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  padding: 20px;
}

.conlu > img {
  width: 200px;
  margin-left: 10px;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s;
}

.imgprin{
  text-align: center;
}

.imgprin > h1{
  z-index: 1;
  font-weight: 200;
  font-size: xxx-large;
  color: whitesmoke;
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.portada-img {
  filter: brightness(70%);
  border-bottom-left-radius: 20px ;
  border-bottom-right-radius: 20px;
  object-fit: cover;
  width: 90%;
  height: 300px;
}

.conlu > img:hover {
  transform: scale(1.05);
}

#padre {
  display: grid;
  place-items: center;
}
.hijo {
  height: 20px;
  width: 20px;
  background-color: aqua;
}

.descripcion {
  display: grid;
  place-items: center;
}

.descrip {
  display: flex;
}

.des {
  padding-right: 100px;
  width: 700px;
}

h3 {
  color: black;
  padding-bottom: 10px;
}

p {
  padding-bottom: 20px;
}

.br {
  border-radius: 20px;
  height: 600px;
  width: 2px;
  background: #d2bebfcc;
  position: relative;
  right: 50px;
}

.reserva {
  width: 300px;
  height: 200px;
  border-radius: 10px;
  border: #d2bebfcc solid 4px;
  margin-bottom: 20px;
}

.rese {
  text-align: center;
}

.rese a {
  border-radius: 20px;
  border: #d2bebfcc solid 3px;
  padding: 10px;
  text-decoration: none;
  color: black;
  position: relative;
  top: 20px;
}

.rese h5 {
  position: relative;
  top: 130px;
}


.lines{
  margin-top: 30px;
  height: 2px;
  width: 70%;
  background: #D2BEBF;
}


.calificacion{
  display: flex;
  justify-content: center;
  font-size: large ;
}

.cali{
    text-align: center;
}

.cali > h1{
  margin-bottom: 20%;
}

li > img{
  height: 75px;
}

.line{
  border: 20px;
  height: 210px;
  width: 2px;
  background: #d2bebfcc ;
  margin:0px 40px 0 40px;
}


li{
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  line-height: 0.1;
}


/*---------------------------------*/
.loader {
  left: 40%;
  display: block;
  width: 84px;
  height: 84px;
  position: relative;
}

.loader:before , .loader:after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #D2BEBF;
  transform: translate(-50% , -100%)  scale(0);
  animation: push_401 2s infinite linear;
}

.loader:after {
  animation-delay: 1s;
}

@keyframes push_401 {
  0% , 50% {
    transform: translate(-50% , 0%)  scale(1)
  }

  100% {
    transform: translate(-50%, -100%) scale(0)
  }
}

.loader  > h3 {
  top: 5px;
  left: 22px;
  z-index: 2;
  position: absolute;
  color: #fff;
}





