footer {
  display: flex;
  justify-content: center;
  background-color: none;
}


h3 {
  color: #f1d5af;
}

a {
  color: #bcbcbc;
  text-decoration: none;
  transition: 0.3s;
  cursor: pointer;
}

a:hover {
  transition: 0.3s;
  color: #000;
}

ol{
  margin-left: 50px;
}


li {
  display: flex;
  align-items: center;
  justify-content: left;
  margin: 8px 0;
}

img{
  margin-right: 15px;
  height: 32px;
}

.line1{
  height: 2px;
  width: 70%;
  background: #D2BEBF;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
}

.derechos{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}
