
<div class="line1"></div>
<footer>
  <ol>
    <li><h3>REDES</h3></li>
    <li><img src="facebook.png" alt=""><a href="">Facebook</a></li>
    <li><img src="instagram.png" alt=""><a href="">Instragram</a></li>
    <li><img src="tik-tok.png" alt=""><a href="">Tik-Tok</a></li>
  </ol>

  <ol>
    <li><h3>OTE'L</h3></li>
    <li><img src="luna.png" alt=""><a href="">Nosotros</a></li>
    <li><img src="customer.png" alt=""><a href="">Atencion</a></li>
    <li><img src="map.png" alt=""><a href="">Ubicacion</a></li>
  </ol>

  <ol>
    <li><h3>Anfritiones</h3></li>
    <li><img src="hotel (1).png" alt=""><a href="">Hoteles Colombia</a></li>
  </ol>
</footer>

<div class="derechos">
  <p>Copyright | OTE'L GAMETY. Todos los derechos reservados</p>
</div>
