h3 {
  color: #D2BEBFCC;
  top: 10px;
  text-align: center;
  font-size: 70px;
}

td {
  max-width: max-content;
}



.button{
  position: fixed;
  bottom: 0;
  left: 0;
  margin: 30px;
  display: flex;
  height: 3em;
  width: 110px;
  align-items: center;
  justify-content: center;
  background-color: #eeeeee4b;
  border-radius: 3px;
  letter-spacing: 1px;
  transition: all 0.2s linear;
  cursor: pointer;
  border: none;
  border-radius: 20px;
  background: #D2BEBF;
}

button > svg {
  margin-right: 5px;
  margin-left: 5px;
  font-size: 20px;
  transition: all 0.4s ease-in;
}

button:hover > svg {
  font-size: 1.2em;
  transform: translateX(-5px);
}

button:hover {
  box-shadow: 9px 9px 33px #d1d1d1, -9px -9px 33px #ffffff;
  transform: translateY(-2px);
}

.siguientes > button{
  margin-left: 5px;
  font-size: smaller;
  background: #ffffff;
  border: none;
}


.botones{
  display: flex;
  justify-content: center;
  align-items: center;
}

.botones > button{
  cursor: pointer;
  padding: 0px;
  margin: 20px;
  font-size: x-large;
  height: 50px;
  width: 250px;
  background: none;
  border: solid 3px #D2BEBF;
  color: #F1D5AF;
  border-radius: 20px;
  transition: 0.3s;
}


.botones > button:hover{
  color: aliceblue;
  background-color: #D2BEBF;
  transition: 1s;
}

.conte{
  margin: 10px auto;
  width: 1200px;
}

table{
  text-align: left;
  border: solid 2px #D2BEBFCC;
  width: 100%;
  border-collapse: collapse;
  background-color: none;
}


th, td{
  border-bottom: solid 2px #D2BEBFCC;
  padding: 10px;
}

tr > th{
  background-color: #D2BEBFCC;
}
