

div:hover {
  cursor: pointer;
}

#padre{
  margin-left: 55px;
}


#hover{
  top: 50px;
  margin: 25px;
  float: left;
  margin-bottom: 80px;
  position: relative;
  background-color: #FFFAF7;
  box-shadow: 0px 2px 5px 0  rgb(20 ,20, 20, 0.4);
  border: #F1D5AF solid 1px;
  width: 400px;
  border-radius: 20px;
  transition: 0.5s;
}

#hover:hover{
  transform: translateY(-20px);
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.1),
    -4px -4px 12px rgba(0, 0, 0, 0.08);
  transition: 0.5s;
}

.titulos{
  color: #000;
  text-decoration: none;
  padding-bottom: 20px;
  padding-left: 20px;
}

#hover > img{
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
