
.imglogin {
  border-radius: 100px;
  position: relative !important;
  height: 50px !important;
  width: 50px !important;

}

.Subtitulos {
  margin-top: 15px;
}

.Nombre {
  text-decoration: none;
  color: #d2bebf;
  font-size: xx-large;
}

a:hover {
  cursor: pointer;
}

ul {
  display: flex;
  position: relative;
  height: 100%;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.nav-container {
  justify-content: space-between;
  padding: 0 16px;
}

li {
  list-style: none;
  color: #ffffff;
}

.Subtitulos:hover {
  text-decoration: underline;
  cursor: pointer;
}

.links-container {
  width: 100%;
}

nav {
  top: 0;
  z-index: 1;
  width: 100%;
  position: fixed;
  height: 80px;
  background-color: rgba(0, 0, 0, 0.55);
  backdrop-filter: blur(80px);
}

.block-container {
  content: '';
  height: 80px;
  background-color: rgba(0, 0, 0, 0);
}
