<nav>
  <ul class="nav-container">
    <li class="links-container">
      <ul>
        <li class="Subtitulos">NOSOTROS</li>
        <li class="Nombre">OTE'L</li>
        <li class="Subtitulos">SOCIOS</li>
      </ul>
    </li>
    <li>
      @if (logged) {
      <a (click)="closeSesion()">
        <img
          class="imglogin"
          [ngSrc]="userImg"
          fill
          priority
        />
      </a>
      }@else {
      <a [routerLink]="['/login']">
        <img
          class="imglogin"
          [ngSrc]="userImg"
          fill
          priority
        />
      </a>
      }
    </li>
  </ul>
</nav>

<div class="block-container"></div>
