.Bienvenida {
  height: 400px;
}

.cards {
  display: flex;
  width: fit-content;
}

.container-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

a {
  height: max-content;
}

.imageninicio {
  object-fit: cover;
  filter: brightness(70%);
  width: 100%;
  height: 500px;
}

.titulos {
  margin: 0;
  padding: 0;
  position: relative;
  left: 50%;
  transform: translate(-50%, -150%);
}

.titulos2 {
  font-size: 40px;
  text-align: center;
  background: none;
}

.titulobienvenido {
  font-weight: 100;
  color: #ffffff;
}
