<app-nav-bar
  [userImg]="userPhoto"
  [logged]="isLogged"
/>

@if (resena.length === 0) {

<form
  class="form"
  [formGroup]="rateForm"
  (ngSubmit)="onSubmit()"
>
  <h5>Califica nuestra limpieza:</h5>
  @for (option of options; track $index) {
  <label>
    <input
      type="radio"
      formControlName="c_limpieza"
      [value]="option"
    />
    {{ option }}
  </label>
  }

  <h5>Califica nuestra ubicacion:</h5>
  @for (option of options; track $index) {
  <label>
    <input
      type="radio"
      formControlName="c_ubicacion"
      [value]="option"
    />
    {{ option }}
  </label>
  }

  <h5>Califica nuestro wifi:</h5>
  @for (option of options; track $index) {
  <label>
    <input
      type="radio"
      formControlName="c_wifi"
      [value]="option"
    />
    {{ option }}
  </label>
  }

  <h5>Califica nuestra calidad-precio:</h5>
  @for (option of options; track $index) {
  <label>
    <input
      type="radio"
      formControlName="c_calidad_precio"
      [value]="option"
    />
    {{ option }}
  </label>
  }

  <button
    type="submit"
    [disabled]="!rateForm.valid"
  >
    Calificar
  </button>
</form>
}@else {
<h4>Gracias!</h4>
<h4>Ya calificaste nuestros servicios!</h4>
<p>Aquí tu resumen:</p>
@for (item of resena; track $index) {
<p>Calidad - precio: {{ item.c_calidad_precio }}</p>
<p>Limpieza: {{ item.c_limpieza }}</p>
<p>Ubicación: {{ item.c_ubicacion }}</p>
<p>Wifi: {{ item.c_wifi }}</p>
} }
